.top-eticket {
    background: rgb(241, 243, 255);
    padding-top: 30px;
}



.right-eticket {
    float: center;
    padding: 10px;
    list-style: none;
}

.right-eticket li {
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 12px;
}

.right-eticket span{
    
    display: inline;
    padding: 10px;
    
}


.right-eticket img.icon {

    width: 14px;
    height: 14px;

}

.right-eticket img.rectangle {

    width: 28px;
    height: 1px;

}

.head-message {
    text-align: center;
    padding-top: 30px;
}

.head-message img {
    margin: 0 auto;
    width: 68px;
    height: 48px;
}

.head-notif {
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.head-note {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #8A8A8A;
    padding-bottom: 30px;
}

.invoice-number {
    padding-left: 239px;
}