.accordion-item .accordion-header button.accordion-button::after {
  background-color: white;
  color: #000000;
}

.accordion-button:focus {
  border-color: white;
  box-shadow: none;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  border-radius: 0;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}
