@import "./Accordion.css";
@import "owl.carousel/dist/assets/owl.carousel.min.css";
@import "owl.carousel/dist/assets/owl.theme.default.min.css";
@import "react-datepicker/dist/react-datepicker.css";
@import "@react-pdf-viewer/core/lib/styles/index.css";

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.button-carousel {
  height: 32px;
  line-height: 28px;
  width: 32px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #c4c4c4;
  color: #000000;
  text-align: center;
  cursor: pointer;
}

.button-carousel:hover {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background-color: white !important;
}

.accordion-item .accordion-header button.accordion-button::after {
  background-color: white;
  color: #000000;
}

.accordion-button:focus {
  border-color: white;
  box-shadow: none;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  border-radius: 0;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}

/* Navbar Admin */
.menu-button:disabled {
  background-color: pink;
}

.admin-menu:after {
  display: none;
}

.navigation-tab:hover {
  background: rgba(255, 255, 255, 0.18);
}

.navigation-tab.selected {
  background: rgba(255, 255, 255, 0.3);
}

.navigation-panel {
  display: none;
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.navigation-panel.display-block {
  display: block;
}

.navigation-panel.open {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.navigation-menu {
  opacity: 0;
  -webkit-transform: translateY(-78%);
  -moz-transform: translateY(-78%);
  -o-transform: translateY(-78%);
  transform: translateY(-78%);
  -webkit-transition: 350ms ease-in-out;
  -moz-transition: 350ms ease-in-out;
  -o-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

.navigation-menu.display-flex {
  display: flex;
}

.navigation-menu.open {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.navigation-menu.index {
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    display: flex;
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .navigation-panel {
    display: block;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  .menu-button {
    pointer-events: none;
  }
}
